## Adding the dataset crops_alldata to the schema

In [18]:
# The dataset 'Crops_AllData_Normalized.csv' is saved locally. Read it in as a dataframe
# Import the necessary package
import pandas as pd
import numpy as np

# Read MASTER.txt file and assign to variable master
crop_all = pd.read_csv('../capstone_local/Crops_AllData_Normalized.csv', encoding='latin1')

# Print first 5 rows
crop_all.sample(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
179938,80,Bosnia and Herzegovina,44,Barley,5419,Yield,2018,2018,hg/ha,36099.0,Fc
711036,175,Guinea-Bissau,217,"Cashew nuts, with shell",5312,Area harvested,1982,1982,ha,22000.0,F
368121,44,Colombia,44,Barley,5510,Production,1965,1965,tonnes,90000.0,NaN
1478513,202,South Africa,44,Barley,5510,Production,1987,1987,tonnes,280000.0,NaN
373052,44,Colombia,254,Oil palm fruit,5312,Area harvested,1963,1963,ha,1250.0,F

In [4]:
# the dataset should be uploaded to the schema 'capstone_hydrogenious'


# Import get_engine function from sql_functions.py and set it to a variable called engine

from sql_functions_anja import get_engine
engine=get_engine()

# Import psycopg2
import psycopg2

if engine!=None:
    try:
        crop_all.to_sql(name='crops_all_data', # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema='capstone_hydrogenious', # your class schema
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
    else:
        print('no engine')

ModuleNotFoundError: No module named 'sql_functions_anja'

In [19]:
# Exploring the dataset crops_all_data

crop_all['Area'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize',
       'Benin', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Guyana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Federated States of)',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'USSR', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union (28)',
       'European Union (27)', 'Least Developed Countries',
       'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries'], dtype=object)

In [7]:
crop_all['Area'].value_counts()

Area
World                                      30423
Asia                                       28025
Net Food Importing Developing Countries    27784
Americas                                   27518
Low Income Food Deficit Countries          26745
                                           ...
Sudan                                       1416
South Sudan                                 1232
China, Macao SAR                             697
Faroe Islands                                354
Marshall Islands                             348
Name: count, Length: 246, dtype: int64

In [23]:

crop_all[crop_all['Area']=='Germany'].nunique()

Area Code          1
Area               1
Item Code         92
Item              92
Element Code       3
Element            3
Year Code         59
Year              59
Unit               3
Value           8865
Flag               6
dtype: int64

In [17]:
crop_all['Item'].nunique()

175

In [18]:
crop_all['Area'].nunique()

246

## EDA of the crops data for specified countries (using SQL)

In [1]:
import sqlalchemy

In [5]:
from sql_functions_anja import get_sql_config
sql_config = get_sql_config()
print(sql_config)

{'host': 'data-analytics-course-2.c8g8r1deus2v.eu-central-1.rds.amazonaws.com', 'port': '5432', 'database': 'postgres', 'user': 'anjakurzhals', 'password': 'DFasCPG03QEvmiut'}

In [6]:
engine = sqlalchemy.create_engine('postgresql://user:pass@host/database',
                        connect_args= sql_config# use dictionary with config details
                        )
type(engine)

sqlalchemy.engine.base.Engine

In [8]:
schema='capstone_hydrogenious'

In [20]:
def get_dataframe(sql_query):
    ''' 
    Connect to the PostgreSQL database server, 
    run query and return data as a pandas dataframe
    '''
    # get the connection configuration dictionary using the get_sql_config function
    sql_config = get_sql_config() 
    # create a connection engine to the PostgreSQL server
    engine = sqlalchemy.create_engine('postgresql://user:pass@host/database',
                        connect_args= sql_config# use dictionary with config details
                        ) 
    print(pd.read_sql_query(sql_query, con=engine))

In [21]:
sql_query=f'select count(*) from {schema}.crops_all_data;'
get_dataframe(sql_query)

     count
0  2513868

In [32]:
#which crops are yielded most in Canada?

sql_query='''SELECT crops_all_data."Area",crops_all_data."Item",
		crops_all_data."Value",
		crops_all_data."Element",
		crops_all_data."Year Code"  
FROM capstone_hydrogenious.crops_all_data
WHERE "Area" = 'Canada' AND "Element" = 'Yield' 
ORDER BY "Year Code" ASC,"Value" DESC;'''

yields_canada=get_dataframe(sql_query)
yields_canada

        Area                              Item     Value Element  Year Code
0     Canada                        Sugar beet  291863.0   Yield       1961
1     Canada               Sugar Crops Primary  291863.0   Yield       1961
2     Canada                          Tomatoes  274196.0   Yield       1961
3     Canada               Carrots and turnips  263382.0   Yield       1961
4     Canada   Melons, other (inc.cantaloupes)  245500.0   Yield       1961
...      ...                               ...       ...     ...        ...
3598  Canada               Fibre Crops Primary   11946.0   Yield       2019
3599  Canada                   Fibre crops nes   11946.0   Yield       2019
3600  Canada  Anise, badian, fennel, coriander    8918.0   Yield       2019
3601  Canada                      Mustard seed    8701.0   Yield       2019
3602  Canada          Oilcrops, Oil Equivalent    7578.0   Yield       2019

[3603 rows x 5 columns]

In [33]:
sql_query='''SELECT crops_all_data."Area",crops_all_data."Item",
		crops_all_data."Value",
		crops_all_data."Element",
		crops_all_data."Year Code"  
FROM capstone_hydrogenious.crops_all_data
WHERE "Area" = 'Canada' AND "Element" = 'Production' 
ORDER BY "Year Code" ASC,"Value" DESC;'''

prod_canada=get_dataframe(sql_query)
prod_canada

        Area                              Item   Value     Element  Year Code
0     Canada       Pumpkins, squash and gourds     NaN  Production       1961
1     Canada                         Triticale     NaN  Production       1961
2     Canada                    Safflower seed     NaN  Production       1961
3     Canada                      Oilseeds nes     NaN  Production       1961
4     Canada  Anise, badian, fennel, coriander     NaN  Production       1961
...      ...                               ...     ...         ...        ...
4144  Canada                            Garlic  1248.0  Production       2019
4145  Canada                          Apricots   982.0  Production       2019
4146  Canada                        Kiwi fruit     9.0  Production       2019
4147  Canada                  Fruit, fresh nes     0.0  Production       2019
4148  Canada                              Hops     0.0  Production       2019

[4149 rows x 5 columns]

In [35]:
prod_canada.dty

AttributeError: 'NoneType' object has no attribute 'drop'